{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Profile</h1>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="my-details-tab"
        data-toggle="tab"
        href="#my-details"
        role="tab"
        aria-controls="my-details"
        aria-selected="true"
        >My Details</a
      >
    </li>
    {% if current_user.is_admin %}
    <li class="nav-item">
      <a
        class="nav-link"
        id="edit-users-tab"
        data-toggle="tab"
        href="#edit-users"
        role="tab"
        aria-controls="edit-users"
        aria-selected="false"
        >Edit Users</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="defaulters-tab"
        data-toggle="tab"
        href="#defaulters"
        role="tab"
        aria-controls="defaulters"
        aria-selected="false"
        >Defaulters</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="registration-tab"
        data-toggle="tab"
        href="#registration"
        role="tab"
        aria-controls="registration"
        aria-selected="false"
        >Registration</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="upload-csv-tab"
        data-toggle="tab"
        href="#upload-csv"
        role="tab"
        aria-controls="upload-csv"
        aria-selected="false"
        >Upload CSV</a
      >
    </li>
    {% endif %} {% if not current_user.is_admin %}
    <li class="nav-item">
      <a
        class="nav-link"
        id="dependents-tab"
        data-toggle="tab"
        href="#dependents"
        role="tab"
        aria-controls="dependents"
        aria-selected="false"
        >Dependents</a
      >
    </li>
    {% endif %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content mt-4">
    <!-- My Details tab -->
    <div class="tab-pane fade show active" id="my-details" role="tabpanel" aria-labelledby="my-details-tab">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">My Details</h5>
          <p class="card-text"><strong>Name:</strong> {{ current_user.name }}</p>
          <p class="card-text"><strong>ID Number:</strong> {{ current_user.id_number }}</p>
          <p class="card-text"><strong>Phone Number:</strong> {{ current_user.phone_number }}</p>
          <p cass="card-text"><strong>Recent 3 Cases Defaulted: </strong> {{ Defaulted_cases }}</p>
          <p cass="card-text"><strong>All Cases Defaulted :</strong> {{ no_of_defaulted_cases }}</p>
          <p cass="card-text"><strong>Total Contribution Amount:</strong> {{ total_case_contributions }}</p>
        </div>
      </div>
      <div class="alert {% if current_user.active %}alert-success{% else %}alert-danger{% endif %}" role="alert">
        {% if current_user.active %}Active{% else %}Inactive{% endif %}
      </div>
    </div>

    <!-- Edit Users tab -->
    {% if current_user.is_admin %}
    <div class="tab-pane fade" id="edit-users" role="tabpanel" aria-labelledby="edit-users-tab">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">All Members</h5>
          <ul class="list-group">
            {% for user in users %}
            <li class="list-group-item">
              <strong>Name:</strong> {{ user.name }} <br />
              <strong>ID Number:</strong> {{ user.id_number }} <br />
              <strong>Phone Number:</strong> {{ user.phone_number }} <br />
              <strong>Admin:</strong> {% if user.is_admin %}Yes{% else %}No{% endif %} <br />
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Dependents Tab -->
    {% if not current_user.is_admin %}
    <div class="tab-pane fade" id="dependents" role="tabpanel" aria-labelledby="dependents-tab">
      <h2>Dependents</h2>
      <form id="addDependentForm">
        <div class="form-group">
          <label for="dependentName">Name</label>
          <input type="text" class="form-control" id="dependentName" name="name" required />
        </div>
        <div class="form-group">
          <label for="dependentPhoneNumber">Phone Number</label>
          <input type="text" class="form-control" id="dependentPhoneNumber" name="phone_number" />
        </div>
        <div class="form-group">
          <label for="dependentRelationship">Relationship</label>
          <select class="form-control" id="dependentRelationship" name="relationship">
            <option value="parent">Parent</option>
            <option value="parent-in-law">Parent-in-law</option>
            <option value="daughter">Daughter</option>
            <option value="son">Son</option>
            <option value="spouse">Spouse</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Dependent</button>
      </form>

      <!-- List of Dependents -->
      <div>
        <h2>Dependents</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Relationship</th>
              <th>Date Added</th>
            </tr>
          </thead>
          <tbody id="dependentsTableBody">
            <!-- Dependents will be dynamically added here -->
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}

    <!-- Upload CSV tab -->
    {% if current_user.is_admin %}
    <div class="tab-pane fade" id="upload-csv" role="tabpanel" aria-labelledby="upload-csv-tab">
      <div class="container mt-4">
        <h2>Upload CSV</h2>
        <form action="{{ url_for('csv.upload_csv') }}" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="csvFile">Select CSV File</label>
            <input type="file" class="form-control-file" id="csvFile" name="file" accept=".csv" required />
          </div>
          <button type="submit" class="btn btn-primary">Upload</button>
        </form>
      </div>
    </div>

    <!-- Defaulters tab -->
    <div class="tab-pane fade" id="defaulters" role="tabpanel" aria-labelledby="defaulters-tab">
      <h2>Defaulters</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>ID Number</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {% for defaulter in defaulters %}
          <tr>
            <td>{{ defaulter.name }}</td>
            <td>{{ defaulter.id_number }}</td>
            <td>{{ defaulter.phone_number }}</td>
            <td>
              <form action="{{ url_for('routes.deactivate_user', user_id=defaulter.id) }}" method="post">
                <button type="submit" class="btn btn-danger">Deregister</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Registration tab -->
    <div class="tab-pane fade" id="registration" role="tabpanel" aria-labelledby="registration-tab">
      <h2>Pending Registrations</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Member ID</th>
            <th>Name</th>
            <th>ID Number</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {% for member in unpaid_members %}
          <tr>
            <td>{{ member.id }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.id_number }}</td>
            <td>{{ member.phone_number }}</td>
            <td>
              <form action="{{ url_for('routes.register_fee', member_id=member.id) }}" method="post">
                <button type="submit" class="btn btn-primary">Register</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% endif %}
  </div>
</div>

{% endblock %}
